head
    link(rel="stylesheet", href="/css/chicken.css")

p Hello I'm a chicken
p #{chicken}
- const name = chicken.name
ul 
    li name: #{name} Jr.
    li age: #{chicken.age}
    li color: #{chicken.color}

div.chicken 
    p.name #{chicken.name}